html,body{
	padding: 0;
	margin: 0;
}
div{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	/* overflow: hidden; */
}
.plus{
	width: 50px;
	height: 8px;
	background: #333;
	transform: translateY(21px);
	/* transform: scale(.5,.5); */
}
.plus::before{
	content: "";
	width: 8px;
	height: 50px;
	background: #333;
	position: absolute;
	transform: translate(21px, -21px);
}

.minus{
	width: 50px;
	height: 8px;
	background: #333;
	transform: translateY(21px);
}

.times{
	width: 75px;
	height: 8px;
	background: #333;
	transform: rotateZ(45deg) translate(6px, 23px);
}
.times::before{
	content: "";
	width: 75px;
	height: 8px;
	background: #333;
	position: absolute;
	transform: rotateZ(90deg);
}

.divide{
	width: 50px;
	height: 8px;
	background: #333;
	transform: translateY(21px);
}
.divide::before,
.divide::after{
	content: "";
	width: 8px;
	height: 8px;
	background: #333;
	position: absolute;
	border-radius: 50%;
	transform: translate(21px, 15px);
}
.divide::before{
	transform: translate(21px, -15px);
}



.play{
	width: 0;
	height: 0;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #333;
	transform: translate(20px,10px);
}

.pause{
	width: 20px;
	height: 20px;
	background: #333;
	transform: translate(15px, 15px);
}

.lists{
	width: 30px;
	height: 6px;
	background: #333;
	transform: translate(15px,10px);
	box-shadow: 0 12px 0 0 #333, 0 24px 0 0 #333;
}
.lists::before{
	content: "";
	width: 6px;
	height: 6px;
	background: #333;
	position: absolute;
	transform: translate(-10px,0px);
	box-shadow: 0 12px 0 0 #333, 0 24px 0 0 #333;
}

.volumn0{
	width: 16px;
	height: 16px;
	background: #333;
	transform: translate(10px, 17px);
}
.volumn0::before{
	content: "";
	width: 0;
	height: 0;
	border-width: 20px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	transform: translate(-12px,-12px);
}

.volumn1{
	width: 16px;
	height: 16px;
	background: #333;
	transform: translate(6px, 17px);
}
.volumn1::before{
	content: "";
	width: 0;
	height: 0;
	border-width: 18px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	transform: translate(-12px, -10px);
}
.volumn1::after{
	width: 22px;
	height: 22px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	content: "";
	border-radius: 50%;
	transform: translate(3px,-7px);
}

.volumn2{
	width: 14px;
	height: 14px;
	background: #333;
	transform: translate(5px, 18px);
}
.volumn2::before{
	content: "";
	width: 0;
	height: 0;
	border-width: 18px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	transform: translate(-14px,-11px);
}
.volumn2::after{
	content: "";
	width: 20px;
	height: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	border-radius: 50%;
	transform: translate(3px, -7px);
}
.volumn2_1{
	width: 35px;
	height: 35px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	border-radius: 50%;
	position: absolute;
	transform: translate(-4px,-15px);
}

.search{
	width: 20px;
	height: 20px;
	border: 3px solid #333;
	border-radius: 50%;
	transform: translate(20px,5px);
}
.search::before{
	content: "";
	width: 18px;
	height: 6px;
	background: #333;
	position: absolute;
	transform: rotate(-45deg) translate(-25px,7px);
}

.home{
	width: 34px;
	height: 20px;
	background: #333;
	transform: translate(8px, 25px);
}
.home::before{
	content: "";
	width: 24px;
	height: 4px;
	background: #333;
	position: absolute;
	transform: translate(-5px,-10px) rotate(-27deg);
}
.home::after{
	content: "";
	width: 24px;
	height: 4px;
	background: #333;
	position: absolute;
	transform: translate(15px,-10px) rotate(25deg);
}
.home_1{
	content: "";
	width: 0;
	height: 0;
	border-width: 8px 17px;
	border-style: solid;
	border-color: transparent transparent #333 transparent;
	transform: translate(8px,-11px);
}
.home_1::before{
	width: 10px;
	height: 13px;
	background: #fff;
	content: "";
	position: absolute;
	transform: translate(-4px,15px);
}
.home_1::after{
	width: 5px;
	height: 8px;
	background: #333;
	position: absolute;
	content: "";
	transform: translate(10px,-7px);
}

.map-maker{
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #333;
	transform: translate(12px, 2px);
}
.map-maker::before{
	content: "";
	width: 0;
	height: 0;
	border-width: 30px 12px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	transform: translate(1px, 18px);
	position: absolute;
}
.map-maker::after{
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	transform: translate(5.5px,6px);
}

.clock{
	width: 36px;
	height: 36px;
	border: 4px solid #333;
	border-radius: 50%;	
	transform: translate(2px, 2px);
}
.clock::before{
	width: 18px;
	height: 3px;
	background: #333;
	position: absolute;
	content: "";
	transform: translate(16px,17px);
	border-radius: 3px;
}
.clock::after{
	width: 18px;
	height: 3px;
	background: #333;
	position: absolute;
	content: "";
	transform: translate(8px,9px) rotate(90deg);
	border-radius: 3px;
}
.envelope{
	width: 40px;
	height: 26px;
	border: 4px solid #333;
	transform: translate(1px, 9px);
	border-radius: 4px;
}
.envelope::before{
	width: 28px;
	height: 4px;
	background: #333;
	position: absolute;
	content: "";
	border-radius: 2px;
	transform: rotate(30deg) translate(-2px,6px);
}
.envelope::after{
	content: "";
	width: 28px;
	height: 4px;
	background: #333;
	position: absolute;
	border-radius: 2px;
	transform: rotate(-30deg) translate(12px,12px);
}

.reload{
	width: 24px;
	height: 24px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent #333 #333;
	border-radius: 50%;
	transform: translate(8px, 8px) rotate(-10deg);
}
.reload::before{
	content: "";
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	position: absolute;
	transform: rotate(220deg) translate(-13px, 13px);
	border-color: transparent #333 transparent transparent;
}

.signal{
	width: 14px;
	height: 14px;
	background: #333;
	border-radius: 50%;
	transform: translate(5px,25px);
}
.signal::before{
	content: "";
	width: 25px;
	height: 25px;
	border: 6px solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	border-radius: 50%;
	transform: rotate(-35deg) translate(-5px,-16px);
}
.signal::after{
	content: "";
	width: 40px;
	height: 40px;
	border: 6px solid;
	border-color: transparent #333 transparent transparent;
	position: absolute;
	border-radius: 50%;
	transform: rotate(-36deg) translate(-3px,-27px);
}

.recycle-bin{
	width: 22px;
	height: 26px;
	border: 3px solid #333;
	border-radius: 4px;
	transform: translate(10px, 12px);
	box-shadow: 0 -8px 0 -3px #333;
}
.recycle-bin::before{
	content: "";
	width: 34px;
	height: 3px;
	background: #333;
	position: absolute;
	border-radius: 4px;
	transform: translate(-6px,-3px);
}
.recycle-bin::after{
	content: "";
	width: 3px;
	height: 20px;
	border-radius: 2px;
	background: #333;
	position: absolute;
	transform: translate(4px, 2px);
	box-shadow: 6px 0 0 0 #333, 12px 0 0 0 #333;
}

.wifi{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transform: translate(20px, 30px);
	background: #333;
}
.wifi::before{
	content: "";
	width: 20px;
	height: 20px;
	border: 3px solid;
	border-color: #333 transparent transparent transparent;
	position: absolute;
	border-radius: 50%;
	transform: translate(-8px,-6px);
}
.wifi::after{
	content: "";
	width: 30px;
	height: 30px;
	border: 3px solid;
	border-color: #333 transparent transparent transparent;
	position: absolute;
	border-radius: 50%;
	transform: translate(-13px, -12px);
}
.wifi_1{
	position: absolute;
	width: 40px;
	height: 40px;
	border: 3px solid;
	border-color: #333 transparent transparent transparent;
	border-radius: 50%;
	transform: translate(-18px, -19px);
}

.zoom-in{
	width: 22px;
	height: 22px;
	border: 3px solid #333;
	border-radius: 50%;
	transform: translate(18px, 5px);
}
.zoom-in::before{
	content: "";
	width: 17px;
	height: 3px;
	background: #333;
	position: absolute;
	transform: translate(2.5px, 10px);
}
.zoom-in::after{
	content: "";
	width: 3px;
	height: 16px;
	background: #333;
	position: absolute;
	transform: translate(9.5px, 3px);
}
.zoom-in_1{
	position: absolute;
	width: 15px;
	height: 4px;
	background: #333;
	transform: rotate(-45deg) translate(-25px, 10px);
}

.zoom-out{
	width: 22px;
	height: 22px;
	border: 3px solid #333;
	border-radius: 50%;
	transform: translate(18px, 5px);
}
.zoom-out::before{
	content: "";
	width: 17px;
	height: 3px;
	background: #333;
	position: absolute;
	transform: translate(3px, 10px);
}
.zoom-out::after{
	content: "";
	position: absolute;
	width: 15px;
	height: 4px;
	background: #333;
	transform: rotate(-45deg) translate(-25px, 10px);
}

.lock{
	width: 26px;
	height: 20px;
	background: #333;
	transform: translate(12px, 22px);
}
.lock::before{
	content: "";
	width: 14px;
	height: 26px;
	border: 4px solid #333;
	position: absolute;
	border-radius: 16px;
	transform: translate(2px, -14px);
}
.lock-open{
	width: 26px;
	height: 20px;
	background: #333;
	transform: translate(6px, 22px);
}
.lock-open::before{
	content: "";
	width: 14px;
	height: 13px;
	position: absolute;
	border-top: 4px solid #333;
	border-left: 4px solid #333;
	border-right: 4px solid #333;
	border-radius: 10px 10px 0 0;
	transform: translate(18px, -17px);
}

.alarm{
	width: 32px;
	height: 32px;
	background: #333;
	border-radius: 50%;
	position: relative;
	transform: translate(9px, 9px);
}
.alarm::before,
.alarm::after{
	content: "";
	width: 10px;
	height: 2px;
	position: absolute;
	background: #333;
	transform: rotate(-45deg) translate(-23px, 20px);
}
.alarm::before{
	transform: rotate(45deg) translate(38px,5px);
}
.alarm1{
	width: 14px;
	height: 7px;
	background: #333;
	position: absolute;
	border-radius: 7px 7px 0 0;
	transform: rotate(-45deg) translate(-3px,-5px);
}
.alarm1::before{
	content: "";
	position: absolute;
	width: 14px;
	height: 7px;
	background: #333;
	border-radius: 7px 7px 0 0;
	transform: rotate(85deg) translate(21px,-19px);
}
.alarm2{
	width: 12px;
	height: 2px;
	background: #fff;
	position: absolute;
	border-radius: 2px;
	transform: translate(16px,15px);
}
.alarm2::before{
	content: "";
	position: absolute;
	width: 2px;
	border-radius: 2px;
	height: 12px;
	background: #fff;
	transform: rotate(-45deg) translate(3px,-9px);
}

.user{
	width: 30px;
	height: 18px;
	background: #333;
	border-radius: 15px 15px 0 0;
	transform: translate(10px, 24px);
}
.user::before{
	content: "";
	position: absolute;
	width: 12px;
	height: 14px;
	background: #333;
	border: 2px solid #fff;
	border-radius: 9px;
	transform: translate(7px, -14px);
}

.heart{
	position: relative;
	width: 20px;
	height: 35px;
	background: #333;
	border-radius: 10px 10px 0 0;
	transform: translate(21px, 6px) rotate(45deg);
}
.heart::before{
	content: "";
	position: absolute;
	width: 20px;
	height: 35px;
	background: #333;
	border-radius: 10px 10px 0 0;
	transform: rotate(-90deg) translate(-8px,-8px);
}

.phone{
	width: 20px;
	height: 30px;
	border-width: 5px 2px;
	border-style: solid;
	border-color: #333;
	border-radius: 2px;
	transform: translate(13px,4px);
}
.phone::before{
	content: "";
	width: 3px;
	height: 3px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	transform: translate(8px, 31px);
}
.phone::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 1px;
	background: #fff;
	transform: translate(5px, -3px);
}

.computer{
	width: 36px;
	height: 18px;
	border: 3px solid #333;
	transform: translate(4px, 10px);
	border-radius: 4px;
}
.computer::before{
	content: "";
	width: 14px;
	height: 5px;
	background: #333;
	position: absolute;
	transform: translate(12px, 20px);
}
.computer::after{
	content: "";
	width: 28px;
	height: 5px;
	background: #333;
	position: absolute;
	transform: translate(5px, 25px);
	border-radius: 2px;
}

.bookmark{
	width: 0;
	height: 0;
	border-width: 15px 12px;
	border-style: solid;
	border-color: #333 #333 transparent #333;
	transform: translate(12px, 10px);
}

.location-arrow{
	width: 0;
	height: 0;
	border-width: 10px 20px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	transform: rotate(-20deg) translate(0px, 18px);
}
.location-arrow::before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-width: 10px 20px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	transform: rotate(152deg) translate(10px, 28px);
}

.mouse{
	width: 20px;
	height: 35px;
	border: 3px solid #333;
	border-radius: 20px;
	transform: translate(10px, 4px);
}
.mouse::before{
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background: #333;
	transform: translateY(10px);
}
.mouse::after{
	content: "";
	position: absolute;
	width: 3px;
	height: 10px;
	background: #333;
	transform: translateX(8px);
}

.image{
	width: 44px;
	height: 32px;
	border: 1px solid #333;
	transform: translate(2px,9px);
	overflow: hidden;
}
.image::before{
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background: #333;
	border-radius: 3px;
	transform: translate(30px, 5px);
}
.image-1{
	width: 22px;
	height: 22px;
	background: #333;
	transform: rotate(50deg) translate(16px, 11px);
	box-shadow: 16px -13px 0 0 #333;
}

.qrcode{
	width: 4px;
	height: 4px;
	background: #333;
	box-shadow: 0 0 0 3px #fff, 0 0 0 6px #333,
				20px 0 0 0 #333 ,20px 0 0 3px #fff, 20px 0 0 6px #333,
				0 20px 0 0 #333, 0 20px 0 3px #fff, 0 20px 0 6px #333,
				14px 15px 0 1px #333, 14px 21px 0 1px #333, 14px 25px 0 1px #333,
				18px 15px 0 1px #333, 22px 20px 0 1px #333, 26px 15px 0 1px #333,
				20px 27px 0 -1px #333, 24px 27px 0 -1px #333, 28px 27px 0 -1px #333,
				28px 23px 0 -1px #333;
	transform: translate(12px, 12px);
}

.tag{
	width: 18px;
	height: 30px;
	background: #333;
	transform: rotate(45deg) translate(19px, 1px);
}
.tag::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 9px 16px;
	border-style: solid;
	border-color: transparent transparent transparent #333;
	transform: translate(-7px, -25px) rotate(-90deg);
}
.tag::after{
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
	transform: translate(6px, -5px);
}


.server{
	width: 40px;
	height: 8px;
	background: #333;
	transform: translate(5px, 8px);
	box-shadow: 0 12px 0 0 #333, 0 24px 0 0 #333;
}
.server::before{
	content: "";
	position: absolute;
	width: 20px;
	height: 4px;
	background: #fff;
	transform: translate(6px, 2px);
	box-shadow: 0 12px 0 0 #fff, 0 24px 0 0 #fff;
}
.server::after{
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background: #fff;
	transform: translate(32px, 2px);
	box-shadow: 0 12px 0 0 #fff, 0 24px 0 0 #fff;
}

.keyboard{
	width: 40px;
	height: 25px;
	border: 2px solid #333;
	transform: translate(3px, 10px);
}
.keyboard::before{
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	background: #333;
	transform: translate(8px, 5px);
	box-shadow:  6px 0 0 0 #333, 12px 0 0 0 #333,
				 18px 0 0 0 #333, -3px 5px 0 0 #333,
				 2px 5px 0 0 #333, 7px 5px 0 0 #333,
				 12px 5px 0 0 #333, 17px 5px 0 0 #333, 22px 5px 0 0 #333,
				 0 10px 0 0 #333, 6px 10px 0 0 #333,
				 12px 10px 0 0 #333, 18px 10px 0 0 #333;
}
.keyboard::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background: #333;
	transform: translate(10px, 20px);
}

.shutdown{
	width: 23px;
	height: 23px;
	border: 2px solid;
	border-color: #333 #333 #333 transparent;
	border-radius: 50%;
	transform: rotate(78deg) translate(19px, -8px);
}
.shutdown::before{
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	border: 2px solid;
	border-color: #333 transparent transparent transparent;
	border-radius: 50%;
	transform: rotate(209deg) translate(3px, 0.8px);
}
.shutdown::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 16px;
	background: #333;
	transform: rotate(-79deg) translate(-1px, 1px);
}

.chart{
	width: 30px;
	height: 1px;
	background: #333;
	transform: translate(10px, 40px);
}
.chart::before{
	content: "";
	position: absolute;
	width: 6px;
	height: 10px;
	background: #333;
	transform: translate(5px, -9px);
	box-shadow: 0 -10px 0 0 #333,
				7px 0 0 0 #333, 7px -10px 0 0 #333, 7px -20px 0 0 #333,
				14px 0 0 0 #333, 14px -6px 0 0 #333;
}

.funnel{
	width: 15px;
	height: 16px;
	border: 2px solid;
	border-color: transparent #333 #333 #333;
	border-radius: 0 0 20px 20px;
	transform: translate(13px, 5px);
}
.funnel::before{
	content: "";
	position: absolute;
	width: 15px;
	height: 16px;
	border: 2px solid;
	background: #333;
	border-color:  #333 #333 transparent #333;
	border-radius: 15px 15px 0 0;
	transform: translate(-2px, 16px);
}
.funnel::after{
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background: #333;
	transform: translate(-5px, -2px);
	box-shadow: 0 36px 0 0 #333;
}